/*  your css code here. If applicable */

body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}
.article {
    display: flex;
    align-items: center;
    margin: 20px;
}
.article img {
    height: 200px;
    margin-right: 20px;
}